{% extends 'base.html' %}

{% block container %}

<h1>Статистика: {{agent}}</h1>
<p><b>Количество взаимодействий</b> {{interactions.count}}</p>
<p><b>Количество продаж</b> {{orders_count}}</p>
<form action="" method="get">
  {{agent_stats_form}}

  <input type="submit" value="Показать">
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Агент</th>
      <th scope="col">Контакт</th>
      <th scope="col">Результат</th>
      <th scope="col">Дата</th>
      <th scope="col">Продажа</th>
    </tr>
  </thead>
  <tbody>

{% for i in interactions %}
    <tr>
      <td>{{ i.agent }} </td>
      <td><a href="{% url 'sales:contact_details' c.id  %}">{{ i.contact }}</a></td>
      <td>{{ i.interaction_date }}</td>
      <td>{{ i.result }}</td>
      <td>{{ i.order }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<script>
    $("#id_start_date").datetimepicker({
      timepicker:false,
      format:'Y-m-d',
      lang:'ru'
});    $("#id_end_date").datetimepicker({
      timepicker:false,
      format:'Y-m-d',
      lang:'ru'
});

  </script>
{% endblock %}
