{% extends 'base.html' %}
{% block container %}
{% load crispy_forms_tags %}
{% load tags %}



<form action="" method="get" class="search-form" style="display:none">
  <div class="row"><div class="col-md-4">
  {% for field in filter.form %}

    {%if forloop.counter|divisibleby:"8" %}
      </div><div class="col-md-4">
    {%endif%}
  <div class="form-group">
    <label for="">{{field.label}}</label>
   {{field}}
  </div>
{%endfor%}
</div></div>
  <button type="submit">Поиск</button>

</form>
<p><button onclick="$('.search-form').toggle()">Фильтр</button> Всего: <b>{{filter.qs.count}}</b></p>
<script>


   $("#id_start_date").datetimepicker({
      timepicker:false,
      format:'m/d/Y',
      lang:'ru'
    });

    $("#id_end_date").datetimepicker({
      timepicker:false,
      format:'m/d/Y',
      lang:'ru'
    });
 </script>

<style>
.fixed_header tbody
{
  display:block;
  overflow:auto;
  height:900px;
  width:100%;
}

.fixed_header thead tr
{
  display:block;
}
</style>

  <div class="row">
  <div class="table-responsive">

<table class="table table-striped fixed_header" >
<thead >
    <tr>
      <th scope="col">#</th>
      <th scope="col" style="width: 10%">Тел </th>
      <th scope="col" style="width: 10%">Имя</th>
      <th scope="col" style="width: 25%">Анамнез</th>
      <th style="width: 25%">
        Результат
      </th>
      <th scope="col">Сл. Звон.
        <a href="{% url 'sales:contact_list'%}?order=-next_contact_date">&darr;</a>
        <a href="{% url 'sales:contact_list'%}?order=next_contact_date">&uarr;</a>
      </th>
      <th scope="col" style="width: 10%">Резюме</th>
      <th scope="col" style="width: 10%">Професия</th>
      <th scope="col" style="width: 10%">Ист
       <a href="{% url 'sales:contact_list'%}?order=-source__name">&darr;</a>
         <a href="{% url 'sales:contact_list'%}?order=source__name">&uarr;</a>
      </th>
    </tr>
  </thead>
  <tbody >

{% for c in contact_list %}

    {% with next_element=contact_list|next:forloop.counter0 %}
    {% with previous_element=contact_list|previous:forloop.counter0 %}
    <tr>
      <th  scope="row" style="background-color: {{c.color}}">{{forloop.counter}}</th>
      <td style="width: 10%"> <a href="{% url 'sales:update_contact' c.id  %}?index={{forloop.counter0}}&contacts_id_list={{contacts_id_list}}&count={{count}}">{{c.phone_main|truncatechars:15}}</a></td>
      <td style="width: 10%" data-toggle="tooltip" data-placement="top" title="{{ c.first_name}} {{ c.last_name}}">
         {{ c.first_name|truncatechars:10}} {{ c.last_name|truncatechars:10}}</td>
      <td style="width: 25%" data-toggle="tooltip" data-placement="top" title="{{c.comment}}">{{ c.comment|truncatechars:100 }}</td>
      <td style="width: 25%">{{ c.interaction_set.latest.result }}</td>
      <td >{{ c.next_contact_date|date:"d.m.y"}}</td>
      <td ><a href="{{c.cv_url}}">{{c.cv_title}}</a></td>
      <td style="width: 10%">{% for p in  c.profiles.all %} {{p}} {%endfor%}</td>
      <td style="width: 10%" data-toggle="tooltip" data-placement="top" title="{{c.source.description}} {{ c.source }}">{{ c.source|truncatechars:3}}</td>
    </tr>
    {% endwith %}
    {% endwith %}

{% endfor %}
  </tbody>
  </table>
    {% if contact_list.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if contact_list.has_previous %}
    <li class="page-item"><a class="page-link" href="?{% param_replace page=contact_list.previous_page_number %}">Пред.</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Пред.</a></li>
    {% endif %}
  {% for i in contact_list.paginator.page_range %}
      {% if contact_list.number == i %}
     <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if contact_list.has_next %}
      <li class="page-item"><a class="page-link"  href="?{% param_replace page=contact_list.next_page_number %}">След.</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">След.</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
    </div>
  </div>
{% endblock %}