{% extends 'base.html' %}
{% block container %}

<button type="button" class="btn btn-outline-primary" xmlns="http://www.w3.org/1999/html"><a href="{% url 'sales:create_contact' %}"> Добавить контакт </a></button>
 <form method="post" enctype="multipart/form-data">
   {% csrf_token %}
   <select name="search_type" id="">
     <option value="tel1">Tel1</option>
     <option value="tel2">Tel2</option>
     <option value="last_name">Фамилия</option>
   </select>
   <input type="text" name="search">
   <input type="submit" value="Поиск">
 </form>
{% if contact_list.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if contact_list.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ contact_list.previous_page_number }}&order={{order}}">Пред.</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Пред.</a></li>
    {% endif %}
  {% for i in contact_list.paginator.page_range %}
      {% if contact_list.number == i %}
     <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}&order={{order}}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if contact_list.has_next %}
      <li class="page-item"><a class="page-link"  href="?page={{ contact_list.next_page_number }}&order={{order}}">След.</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">След.</a></li>
    {% endif %}
  </ul>
{% endif %}

  <div class="row">
    <div class="table-responsive">


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Тел1</th>
      <th scope="col">Имя Фамилия</th>
      <th scope="col">Возраст</th>
      <th scope="col">Качество
        <a href="{% url 'sales:contact_list'%}?order=-lead_quality">&darr;</a>
         <a href="{% url 'sales:contact_list'%}?order=lead_quality">&uarr;</a>
      </th>
      <th scope="col">Комментарий</th>
      <th scope="col">Сл. Звон.
        <a href="{% url 'sales:contact_list'%}?order=-next_contact_date">&darr;</a>
      <a href="{% url 'sales:contact_list'%}?order=next_contact_date">&uarr;</a>
      </th>
      <th scope="col">Посл. Звон.
        <a href="{% url 'sales:contact_list'%}?order=-last_contact_date">&darr;</a>
         <a href="{% url 'sales:contact_list'%}?order=last_contact_date">&uarr;</a>
      </th>
      <th>
        Результат
      </th>
      <th scope="col">Кол. прозвонов</th>
      <th scope="col">Источник Контакта
       <a href="{% url 'sales:contact_list'%}?order=-source__name">&darr;</a>
         <a href="{% url 'sales:contact_list'%}?order=source__name">&uarr;</a>
      </th>
      <th scope="col">Источник Резюме</th>
      <th scope="col">Заголовок Резюме</th>
      <th scope="col">Профиль</th>
    </tr>
  </thead>
  <tbody>

{% for c in contact_list %}
    <tr>
      <th scope="row" style="background-color: {{c.color}}">{{forloop.counter}}</th>
      <td><a href="{% url 'sales:update_contact' c.id  %}">{{c.phone_main}}</a></td>
      <td><a href="{% url 'sales:update_contact' c.id  %}">{{ c.first_name}} {{ c.last_name}}</a></td>
      <td>{{ c.age }}</td>
      <td>{{ c.lead_quality }}</td>
      <td>{{ c.comment }}</td>
       <td>{{ c.next_contact_date}}</td>
      <td>{{ c.last_contact_date}}</td>
      <td>{{ c.interaction_set.latest.result }}</td>
      <td> {{ c.interaction_set.count }}</td>
      <td>{{ c.source}}</td>
      <td><a href="{{ c.cv_url}}" target="_blank">ссылка</a></td>
      <td>{{ c.cv_title}}</td>
      <td>{% for p in  c.profiles.all %} {{p}} {%endfor%}</td>
    </tr>
{% endfor %}
  </tbody>
  </table>
    </div>
  </div>
{% endblock %}