{% extends 'base.html' %}

{% block container %}

<h1>Источники контактов</h1>

<a href="{% url 'sales:create_contact_source' %}"> Добавить новый</a>

    <table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Название</th>
      <th scope="col">Описание</th>
      <th scope="col">Потенциальные профили контактов</th>
      <th scope="col">Количество контактов</th>

    </tr>
  </thead>
  <tbody>

{% for c in contactsource_list %}
    <tr>

      <td>{{ c.name }} </td>
      <td>{{ c.description }}</td>
      <td>{% for p in  c.potential_profiles.all %} {{p}} {%endfor%}</td>
      <td>{{ c.contact_set.count }}</td>

    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}