{% extends 'base.html' %}

{% block container %}


<button type="button" class="btn btn-outline-primary"><a href="{% url 'sales:create_contact' %}"> Добавить контакт </a></button>
<button type="button" class="btn btn-outline-primary"><a href="{% url 'sales:create_contact' %}"> Импортировать csv </a>
</button>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Возраст</th>
      <th scope="col">Пол</th>
      <th scope="col">Профиль</th>
    </tr>
  </thead>
  <tbody>

{% for c in contact_list%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ c.first_name}}  {{ c.last_name }}</td>
      <td>{{ c.age }}</td>
      <td>{{ c.sex }}</td>
      <td>{{ c.profiles }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}