{% extends 'base.html' %}

{% block container %}


<button type="button" class="btn btn-outline-primary"><a href="{% url 'sales:create_contact' %}"> Добавить контакт </a></button>

{% if contact_list.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if contact_list.has_previous %}

    <li class="page-item"><a class="page-link" href="?page={{ contact_list.previous_page_number }}">Пред.</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Пред.</a></li>
    {% endif %}
  {% for i in contact_list.paginator.page_range %}
      {% if contact_list.number == i %}
     <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
     {% if contact_list.has_next %}
      <li class="page-item"><a class="page-link"  href="?page={{ contact_list.next_page_number }}">След.</a></li>
    {% else %}

    <li class="page-item disabled"><a class="page-link" href="#">След.</a></li>
    {% endif %}

  </ul>
{% endif %}


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Возраст</th>
      <th scope="col">Пол</th>
      <th scope="col">Лид/Контакт</th>
      <th scope="col">Качество</th>
      <th scope="col">Дата сл. прозвона</th>
      <th scope="col">Кол. прозвонов</th>
      <th scope="col">Источник</th>
      <th scope="col">Профиль</th>
    </tr>
  </thead>
  <tbody>

{% for c in contact_list%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'sales:contact_details' c.id  %}">{{ c.first_name}}</a></td>
      <td>{{ c.last_name }}</td>
      <td>{{ c.age }}</td>
      <td>{{ c.sex }}</td>
      <td>{% if c.lead_quality > 0 %} Лид {% else %} Контакт {%endif%}</td>
      <td>{{ c.lead_quality }}</td>
      <td>{{ c.next_contact_date}}</td>
      <td>0</td>
      <td>{{ c.source}}</td>
      <td>{% for p in  c.profiles.all %} {{p}} {%endfor%}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}