{% extends 'base.html' %}
{% load tags %}

{% block container %}
<form action="" method="get" class="search-form" style="display:none">
  <div class="row"><div class="col-md-4">
  {% for field in filter.form %}

    {%if forloop.counter|divisibleby:"8" %}
      </div><div class="col-md-4">
    {%endif%}
  <div class="form-group">
    <label for="">{{field.label}}</label>
   {{field}}
  </div>
{%endfor%}
</div></div>
  <button type="submit">Поиск</button>

</form>
<p><button onclick="$('.search-form').toggle()">Фильтр</button> Всего: <b>{{filter.qs.count}}</b></p>
<script>


   $("#id_start_date").datetimepicker({
      timepicker:false,
      format:'m/d/Y',
      lang:'ru'
    });

    $("#id_end_date").datetimepicker({
      timepicker:false,
      format:'m/d/Y',
      lang:'ru'
    });
 </script>


{% if contact_list.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if contact_list.has_previous %}
    <li class="page-item"><a class="page-link" href="?{% param_replace page=contact_list.previous_page_number %}">Пред.</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Пред.</a></li>
    {% endif %}
  {% for i in contact_list.paginator.page_range %}
      {% if contact_list.number == i %}
     <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if contact_list.has_next %}
      <li class="page-item"><a class="page-link"  href="?{% param_replace page=contact_list.next_page_number %}">След.</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">След.</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" id="delegate">
            {% csrf_token %}
            <input type="hidden" name="cids" id="cids">
            <input type="submit"  value="Изменить агента" >
            {{agent_form}}

        </form>
    </div>
</div>

    <script>
        var csrf_token = "";
        $("form#delegate").on("submit",function(){
            var x = $("table tbody input[type=checkbox]");
            var data = data = $.map(x,function(el) { if (el.checked==true)  { return el.id; }});
            $("#cids").val(data.join(","));
            return true;
        });
        <!--$("#num").change(function(){-->
             <!--var item = $(this);-->
             <!--window.location.href = window.location.href.replace(/(num=)[^\&]+/, '$1' + item.val());-->
        <!--});-->
    </script>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
        <th scope="col">Агент</th>
        <th scope="col">Добавлен</th>
        <th scope="col">Источник</th>
        <th scope="col">Резюме</th>
        <th scope="col">Статус</th>
        <th scope="col"> <input type="checkbox"  onchange="checkAll(this.checked)">Выбрать</input></th>
    </tr>
  </thead>
  <tbody>

{% for c in contact_list%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'sales:interactions' c.id  %}">{{ c.first_name}}  {{ c.last_name }}</a></td>
        <td>{{ c.agent.user.name }}</td>
        <td><a href="{% url 'sales:interactions' c.id  %}">{{ c.created_at|date:"d.m.y" }}</a></td>
        <td>{{c.source}}</td>
        <td><a href="{{c.cv_url}}">{{c.cv_title}}</a></td>
        <td>{{ c.lead_quality }}</td>
      <td><input type="checkbox" id="{{ c.pk }}"></td>
    </tr>
{% endfor %}
  </tbody>
</table>

  <script>
     function checkAll(c) {
         var checkboxes = document.querySelectorAll("table tbody input[type=checkbox]");
         for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = c;
           }
 }
  </script>
{% endblock %}