{% load crispy_forms_tags %}
 {% if int_form.errors %}
    {% for field in int_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in int_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="col-md-7">
  <form method="post" id="add_interaction" enctype="multipart/form-data">
        {% csrf_token %}

       <div class="form-row">
          <div class="form-group col-md-9 mb-0">
            {{ int_form.result|as_crispy_field }}
          </div>
           <div class="form-group col-md-3 mb-0">
            {{ int_form.type|as_crispy_field }}
          </div>
       </div>

      <div class="form-row">
          <div class="form-group col-md-9 mb-0">
            <label for="sel1">При продаже выберите вакансию:</label>
          <select  class="form-control" id="vac_id" name="vac_id">
            <option value="nosale">---</option>
            {% for p in positions %}
            <option value="{{p.id}}">{{p.position_title}}</option>
            {% endfor %}
          </select>
          </div>
           <div class="form-group col-md-3 mb-0">
            {{ int_form.date|as_crispy_field }}
          </div>
       </div>

      <div class="form-group">

      </div>
  <button type="submit" class="btn btn-primary"> Добавить Звонок</button>
  </form>
 <script>
    jQuery('#id_date').datetimepicker({
      format:'Y-m-d H:i',
      lang:'ru'
});

  </script>

</div>

<div class="col-md-5">
    <h4>Хронология</h4>
    <ul class="timeline">
        {% for i in interactions reversed %}
        <li>
            <p><b>{{i.agent.name }} {{i.interaction_date |date:"d-m-Y"}}</b></p>
            <p>{{i.result}}</p>
            <p>{% if i.order %}<b>Продажа:</b> {{i.order.vacancy}} {% endif %}</p>
        </li>
        {% endfor %}

    </ul>
</div>