{% extends 'base.html' %}

{% block container %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file">
    {{source_form}}
    <button type="submit">Загрузить</button>
  </form>

{% if contact_list.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if contact_list.has_previous %}

    <li class="page-item"><a class="page-link" href="?page={{ contact_list.previous_page_number }}">Пред.</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Пред.</a></li>
    {% endif %}
  {% for i in contact_list.paginator.page_range %}
      {% if contact_list.number == i %}
     <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
     {% if contact_list.has_next %}
      <li class="page-item"><a class="page-link"  href="?page={{ contact_list.next_page_number }}">Cлед.</a></li>
    {% else %}

    <li class="page-item disabled"><a class="page-link" href="#">Cлед.</a></li>
    {% endif %}

  </ul>
{% endif %}

    <!--<script>-->
        <!--$("#num").change(function(){-->
             <!--var item = $(this);-->
             <!--url = window.location.href-->
             <!--if(url.indexOf("?" == -1)) {-->
                <!--url = url + "?num=1"-->
             <!--} else if (url.indexOf("page=" != -1)) {-->
                <!--url = url + "&num=1"-->
             <!--}-->
             <!--window.location.href = url.replace(/(num=)[^\&]+/, '$1' + item.val());-->


        <!--});-->
    <!--</script>-->

<form action="" method="post" id="delegate">
    {% csrf_token %}
    <input type="hidden" name="cids" id="cids">
    <input type="submit"  value="В продажи" >
</form>

    <script>
            var csrf_token = "";
        $("form#delegate").on("submit",function(){
            var x = $("table input[type=checkbox]");
            var data = data = $.map(x,function(el) { if (el.checked==true)  { return el.id; }});
            $("#cids").val(data.join(","));
            return true;
        });
        $("#num").change(function(){
             var item = $(this);
             window.location.href = window.location.href.replace(/(num=)[^\&]+/, '$1' + item.val());
        });
    </script>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">В продажах</th>
      <th scope="col">Источник</th>
      <th scope="col">Выбрать</th>
    </tr>
  </thead>
  <tbody>

{% for c in contact_list%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ c.first_name}}  {{ c.last_name }}</td>
      <td>{{ c.in_sales }}</td>
      <td>{{ c.source }}</td>
       <td><input type="checkbox" id="{{ c.pk }}"></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}